*.classpath
*.project
.metadata
Spring-Backend/target/classes/META-INF/MANIFEST\.MF

Spring-Backend/target/classes/META-INF/maven/com\.grokonez/spring-boot-restapi-mongodb/pom\.properties

Spring-Backend/target/spring-boot-restapi-mongodb-0\.0\.1-SNAPSHOT\.jar\.original

Spring-Backend/target/surefire-reports/com\.grokonez\.spring\.restapi\.mongodb\.SpringBootRestMongoDbApplicationTests\.txt

Spring-Backend/target/surefire-reports/TEST-com\.grokonez\.spring\.restapi\.mongodb\.SpringBootRestMongoDbApplicationTests\.xml

Spring-Backend/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles\.lst

Spring-Backend/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles\.lst
