@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500,600,700');

.btn-common{
    margin:0px;
}
.container-fluid{
    padding: 0px;
}

.container{
    text-align: left;
}

.sub-form{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #d0d0d0;
}